{% extends "weatherdaily/base.html" %}
{% load static %}
{% block content %}
<div id="main">
<h1 class="cover-heading">Weather Powered Email</h1>
    <p class="lead">You don't have to worry about checking weather information everyday!</p>
    <p class="lead">Just let us know your email and enjoy weather information first thing in morning right in your inbox!</p>
    <hr>
<form role="form" action="" method="post">{% csrf_token%}
    {{ form.as_p }}
    <input class="btn btn-primary center-block" type="submit" name="Submit" value="Sign up for Newsletter">
</form>
</div>

{% endblock%}